
#red{
    color: red;
  }
#cool-font{
    font-family: fantasy; color: black ;
}
.green{
    color:mediumseagreen ;
}

.big{
    font-size: 25px; line-height: 30px;
}
.bold{
    font-weight: bold;
}
div{ height: 100px; width: 100px;
}
.box-1{
    background-color: firebrick;
}
.box-2{ background-color: rgb(58, 153, 231);

}
body{
    background-color: #333;
}
p.groove {border-style: groove; border-radius: 25px; color: steelblue;border-width: 3px;}
.img{background-image: url(https://i.ytimg.com/vi/H79aBKVn1Q8/maxresdefault.jpg);     background-position: center; 
        background-repeat: no-repeat; 
    background-size: cover;height: 500px;}